.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onSmallScreen {
    display: none;
  }

  &__item {
    opacity: 0.4;
    transition: all 0.8s ease;

    &:last-child {
      width: 127px;
      height: 43px;
      border-radius: 4px;
      border: 1px solid $txt_color;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  &__link {
    text-decoration: none;
    color: $txt_color;
    opacity: 0.4;
    transition: all 0.5s ease;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}