.menu-list {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 60vh;
  position: absolute;
  top: -38px;
  left: 0;
  right: 0;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 1s ease;
  z-index: 2;

  &.menu-list--active {
    transform: translateY(0);
    opacity: 1;
  }

  &__link {
    opacity: 1;
  }

  @include onSmallScreen {
    display: flex;
  }
}