.blog {
  padding: 100px 0;
  background-color: #fff;

  &__title {
    font-size: 18px;
    line-height: 28px;
    color: $txt_color;
    margin: 0 0 25px 0;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    margin: 0 0 100px 0;

     @include onSmallScreen {
      flex-direction: column;
     }

     @media (max-width: 425px) {
      display: none;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      &_img {
        margin: 0 0 25px 0;
        width: 80%;
        transition: all 1s ease;

        @include onSmallScreen {
          width: 90%;
        }
      }
  
      &_title {
        font-size: 18px;
        line-height: 22px;
        color: $txt_color;
        margin: 0 0 30px 0;
        max-width: 260px;
      }
  
      &_date {
        font-size: 15px;
        line-height: 24px;
        color: #B5B7C7;
        margin: 0;
      }
    }
  }

  &__button {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.45px;
    color: $txt_fourth_color;
    width: 166px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  &__swiper {
    

    @media (max-width: 425px) {
      display: flex;
    flex-direction: row;
    }
  }
}

.swiper {
  @media (min-width: 425px) {
    display: none;
  }
}

.swiper-wrapper {
  width: 300vw;
  overflow: hidden;
  display: flex;
  margin-bottom: 100px;

  @media (min-width: 425px) {
    display: none;
  }
}

.swiper-slide {
  width: 100vw;

  @media (min-width: 425px) {
    display: none;
  }
}