.technology {
  padding: 123px 0 97px;
  background: #F9FBFD;

  &__topblock {
    display: flex;
    margin-bottom: 80px;

    @include onSmallScreen {
      flex-direction: column;
      align-items: center;
    }

    &-txt {
      width: 50%;
      padding: 0 0 0 100px;

      @include onTablet {
        padding: 0 0 0 50px;
      }

      @include onSmallScreen {
        width: 100%;
      }

      @include onSmallScreen {
        padding: 0;
      }
    }

    &-image {
      width: 50%;

      @include onSmallScreen {
        width: 100%;
      }

      &_img {
        width: 100%;
      }
    }
  }

  &__bottom-block {
    padding: 0 0 0 100px;
    display: flex;
    justify-content: space-between;

    @include onTablet {
      padding: 0 0 0 50px;
    }

    @include onSmallScreen {
      padding: 0;
      flex-direction: column;
      align-items: center;
    }
  }
}